$colour-blush-pink: #AA4472;
$colour-hibiscus-pink: #B43465;
$colour-vin-rouge-pink: #903D6D;
$colour-camelot-purple: #833559;
$colour-tawny-port-purple: #782357;
$colour-valentino-purple: #3A114F;
$colour-white: #fff;
$colour-dusty-gray: #979797;