.sponsored-post {
  font-family: 'Helvetica Neue', Arial, Sans-serif;
  color: $colour-white;
  font-size: rem(16px);
  line-height: rem(18px);
  background: linear-gradient( 135deg, $colour-valentino-purple, $colour-hibiscus-pink);
  padding: rem(24px) rem(30px);

  &__title {
    @extend %title;
    margin: 0 0 rem(26px) 0;
  }

  &__info-wrapper {
    float: left;
    margin-bottom: rem(30px);
  }

  &__campaign-image {
    float: left;
    margin-bottom: rem(30px);

    @include medium-up {
      float: right;
    }
  }

  &__info {
    overflow: hidden;
    margin-bottom: rem(20px);
  }

  &__info-title-wrapper {
    float: left;
    margin-left: rem(11px);
  }

  &__info-title {
    @extend %title;
    display: block;
  }

  &__info-subtitle {
    display: block;
    line-height: rem(20px);
    opacity: 0.5;
  }

  &__section {
    clear: both;
  }

  &__section-title-wrapper {
    height: rem(60px);
    border-top: 1px solid $colour-dusty-gray;
    border-bottom: 1px solid $colour-dusty-gray;
  }

  &__section-title {
    float: left;
    font-size: rem(20px);
    line-height: rem(60px);
    color: $colour-white;
    opacity: 0.5;
  }

  &__step {
    @extend %clearfix;
    display: block;
    clear: both;
  }

  &__step-icon-wrapper {
    position: relative;
    float: left;
    width: rem(40px);
    height: rem(40px);
    margin: rem(10px) 0;
  }

  &__step-inner-wrapper {
    float: left;
    position: relative;
    margin: rem(11px) 0 rem(15px) rem(20px);
    width: calc(100% - #{60px});

    &:before {
      content: '';
      position: absolute;
      left: rem(-41px);
      border: 1.5px solid $colour-white;
      opacity: 0.3;
      width: 0;
      height: calc(100% - #{rem(26px)});
      top: rem(44px);
    }

    &:after {
      content: '';
      position: absolute;
      left: rem(-40px);
      border: 1.5px solid $colour-white;
      opacity: 0.05;
      width: calc(100% + #{rem(40px)});
      bottom: rem(-14px);
    }

    &--wide {
      &:before {
        height: calc(100% - #{rem(33px)});
      }

      &:after {
        left: rem(-61px);
        width: calc(100% + #{rem(60px)});
      }
    }

    &--last {
      &:before {
        border: none;
      }

      &:after {
        left: rem(-61px);
        width: calc(100% + #{rem(60px)});
      }
    }
  }

  &__step-metadata {
    display: block;
    font-size: rem(14px);
    line-height: rem(20px);
    opacity: 0.3;
  }

  &__step-task {
    @extend %clearfix;
    display: inline-block;
  }

  &__step-task-item {
    float: left;
    width: calc(100% - #{rem(30px)});
  }

  &__step-task-wrapper {
    float: left;
    width: 100%;
    margin-bottom: rem(15px);
  }

  &__step-result {
    opacity: 0.5;
    margin-left: rem(8px);
  }

  &__step-superscript {
    float: right;
    opacity: 0.3;
  }

  &__step-superscript-text {
    margin-left: rem(6px);
  }

  &__clipboard-wrapper {
    position: relative;
    margin-top: rem(15px);
  }
}
